.page-container {
  background: url('../../assets/images/banner.jpeg')no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 55.5rem;
}

li {
  list-style: none;
  text-decoration: none;
}
