.header {
  background: rgba(169,3,41,1);
  background: -moz-linear-gradient(-45deg, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(169,3,41,1)), color-stop(44%, rgba(143,2,34,1)), color-stop(100%, rgba(109,0,25,1)));
  background: -webkit-linear-gradient(-45deg, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: linear-gradient(135deg, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=1 );
  color: #D1DBBD;
  border-radius: 10px;
    h2 {
    display: inline-block;
    margin-left: 1.5rem;
  }

  .nav-container {
    display: inline-block;
    float: right;
    margin-top: .4rem;
    margin-right: 1.5rem;

      ul {
        display: inline-block;
        margin-top: .4rem;
            li {
              display: inline-block;
              background: #3E606F;
              padding: .5rem;
              border-radius: 10px;
              a {
                text-decoration: none;
              }
                a:visited {
                    color: #D1DBBD;

                }
            }
      }
  }

  .nav-list {
    margin: .2rem;
  }
}

.logout-button {
  background: transparent;
border: none;
color: #D1DBBD;
font-size: .8rem;
padding: 0;
}
