.header {
  background: #193441;
  color: #D1DBBD;
    h2 {
    display: inline-block;
    margin-left: 1.5rem;
  }

  .nav-container {
    display: inline-block;
    float: right;
    margin-top: .4rem;
    margin-right: 1.5rem;

      ul {
        display: inline-block;
        margin-top: .4rem;
            li {
              display: inline-block;
              background: #3E606F;
              padding: .5rem;
              border-radius: 10px;
              a {
                text-decoration: none;
              }
                a:visited {
                    color: #D1DBBD;

                }
            }
      }
  }

  .nav-list {
    margin: .2rem;
  }
}

.logout-button {
  background: transparent;
border: none;
color: #D1DBBD;
font-size: .8rem;
padding: 0;
}
